n8n-workflows/itarang_v4_1_bolna_COMPLETE_EXPORT.json
{
  "updatedAt": "2026-01-25T03:11:08.976Z",
  "createdAt": "2026-01-11T07:05:02.170Z",
  "id": "Fhx2rnmEdJdOCdzb",
  "name": "itarang_v4_1_bolna_webhook_receiver",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bolna/itarang-v4",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "92fb500c-717f-4f97-a27a-99b8ae583770",
      "name": "Bolna Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        608,
        1328
      ],
      "webhookId": "bolna-itarang-v4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "8bccd14d-9fac-48fd-8030-558bbcd6a932",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        800,
        1328
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bolna_calls SET status = 'initiated', initiated_at = NOW(), updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
        "options": {}
      },
      "id": "27d40353-bbdd-47a2-a8d3-63b6dc8f58c8",
      "name": "Update Call Initiated",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1008,
        1120
      ],
      "credentials": {
        "postgres": {
          "id": "NnMWnm5cZMnvLDvK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bolna_calls SET current_phase = '{{ $json.body.phase }}', updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
        "options": {}
      },
      "id": "3290b165-8dcf-4e0f-a209-def9d657f539",
      "name": "Update Phase Changed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1008,
        1232
      ],
      "credentials": {
        "postgres": {
          "id": "NnMWnm5cZMnvLDvK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bolna_calls SET status = 'paused', updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
        "options": {}
      },
      "id": "f5e29816-c23e-4523-877e-3f59b3834ed3",
      "name": "Update Call Paused",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1008,
        1328
      ],
      "credentials": {
        "postgres": {
          "id": "NnMWnm5cZMnvLDvK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bolna_calls SET status = 'resumed', updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
        "options": {}
      },
      "id": "45913a8e-dd9b-400b-b337-b11859e0a50c",
      "name": "Update Call Resumed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1008,
        1424
      ],
      "credentials": {
        "postgres": {
          "id": "NnMWnm5cZMnvLDvK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bolna_calls SET status = 'completed', ended_at = NOW(), updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
        "options": {}
      },
      "id": "20e3cb58-4085-40ec-abd5-215ffd6aab1f",
      "name": "Update Call Ended",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1008,
        1520
      ],
      "credentials": {
        "postgres": {
          "id": "NnMWnm5cZMnvLDvK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bolna_calls SET full_transcript = COALESCE(full_transcript, '') || ' ' || '{{ $json.body.transcript }}', updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
        "options": {}
      },
      "id": "7fc263ef-7ec7-466b-9e85-513a1a9d3131",
      "name": "Append Transcript Chunk",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1008,
        1632
      ],
      "credentials": {
        "postgres": {
          "id": "NnMWnm5cZMnvLDvK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.bolna.dev/v1/calls/{{ $json.body.call_id }}/transcript",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bolnaApi",
        "options": {}
      },
      "id": "7db21449-18b6-4435-80a8-b2e2b9ae1f52",
      "name": "Fetch Full Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        1728
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bolna_calls SET full_transcript = '{{ $json.transcript }}', transcript_fetched_at = NOW(), updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
        "options": {}
      },
      "id": "9a7fb57e-9a5e-4ad1-a9e9-30c8d6cb9fd7",
      "name": "Store Full Transcript",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1200,
        1728
      ],
      "credentials": {
        "postgres": {
          "id": "NnMWnm5cZMnvLDvK",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1128060.hstgr.cloud/webhook/analyze-transcript",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"call_id\": \"{{ $json.id }}\",\n  \"lead_id\": \"{{ $json.lead_id }}\"\n}",
        "options": {}
      },
      "id": "cc9aa4cb-1bee-44fe-9ffa-c7299e329acf",
      "name": "Trigger Transcript Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        1632
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"event_type\": \"{{ $json.body.event_type }}\", \"processed_at\": \"{{ $now.toISO() }}\" }",
        "options": {}
      },
      "id": "110a7b90-ab63-40c8-9221-6c10d019a565",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1600,
        1376
      ]
    }
  ],
  "connections": {
    "Bolna Webhook": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Update Call Initiated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Initiated": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Phase Changed": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Paused": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Resumed": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Ended": {
      "main": [
        [
          {
            "node": "Trigger Transcript Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Transcript Chunk": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Transcript": {
      "main": [
        [
          {
            "node": "Store Full Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Full Transcript": {
      "main": [
        [
          {
            "node": "Trigger Transcript Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Transcript Analysis": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7db2e6e9-8ae3-46cf-9cad-0b5f106365fe",
  "activeVersionId": "98c94ec7-68f7-4974-8676-bb2f1637da58",
  "versionCounter": 14,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-11T07:05:02.173Z",
      "createdAt": "2026-01-11T07:05:02.173Z",
      "role": "workflow:owner",
      "workflowId": "Fhx2rnmEdJdOCdzb",
      "projectId": "toBplu41WEjQtUUR",
      "project": {
        "updatedAt": "2025-11-28T02:04:59.866Z",
        "createdAt": "2025-11-14T09:17:16.121Z",
        "id": "toBplu41WEjQtUUR",
        "name": "Apoorv Gupta <thecuriouspandas@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "76668ab6-522e-48c9-8c42-4dd83287036c",
        "projectRelations": [
          {
            "updatedAt": "2025-11-14T09:17:16.123Z",
            "createdAt": "2025-11-14T09:17:16.123Z",
            "userId": "76668ab6-522e-48c9-8c42-4dd83287036c",
            "projectId": "toBplu41WEjQtUUR",
            "user": {
              "updatedAt": "2026-01-25T03:01:17.000Z",
              "createdAt": "2025-11-14T09:17:14.639Z",
              "id": "76668ab6-522e-48c9-8c42-4dd83287036c",
              "email": "thecuriouspandas@gmail.com",
              "firstName": "Apoorv",
              "lastName": "Gupta",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-14T09:31:45.812Z",
                "personalization_survey_n8n_version": "1.119.1",
                "companyType": "personal",
                "reportedSource": "other",
                "reportedSourceOther": "Word Of Mouth"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sggwiSrSqU2uTuoA",
                "userActivatedAt": 1763178022460,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1763484740847
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-11T08:00:26.000Z",
    "createdAt": "2026-01-11T07:05:02.178Z",
    "versionId": "98c94ec7-68f7-4974-8676-bb2f1637da58",
    "workflowId": "Fhx2rnmEdJdOCdzb",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "bolna/itarang-v4",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Bolna Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          250,
          300
        ],
        "webhookId": "bolna-itarang-v4"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.body.event_type}}",
                "operation": "equals",
                "value2": "call.initiated"
              }
            ]
          }
        },
        "id": "switch-event-type",
        "name": "Route by Event Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE bolna_calls SET status = 'in_progress', started_at = NOW() WHERE bolna_call_id = '{{$json.body.call_id}}' RETURNING *;",
          "options": {}
        },
        "id": "update-call-initiated",
        "name": "Update Call Initiated",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          650,
          100
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "Supabase PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE bolna_calls SET current_phase = '{{$json.body.new_phase}}' WHERE bolna_call_id = '{{$json.body.call_id}}';\nUPDATE leads SET qualification_stage = '{{$json.body.new_phase}}', updated_at = NOW() WHERE id = (SELECT lead_id FROM bolna_calls WHERE bolna_call_id = '{{$json.body.call_id}}');\nINSERT INTO call_phase_transitions (call_id, from_phase, to_phase, transitioned_at, metadata) VALUES ((SELECT id FROM bolna_calls WHERE bolna_call_id = '{{$json.body.call_id}}'), '{{$json.body.old_phase}}', '{{$json.body.new_phase}}', NOW(), '{{$json.body.metadata}}');",
          "options": {}
        },
        "id": "update-phase-changed",
        "name": "Update Phase Changed",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          650,
          200
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "Supabase PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE bolna_calls SET status = 'paused', paused_at = NOW() WHERE bolna_call_id = '{{$json.body.call_id}}' RETURNING *;",
          "options": {}
        },
        "id": "update-call-paused",
        "name": "Update Call Paused",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          650,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "Supabase PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE bolna_calls SET status = 'in_progress', resumed_at = NOW() WHERE bolna_call_id = '{{$json.body.call_id}}' RETURNING *;",
          "options": {}
        },
        "id": "update-call-resumed",
        "name": "Update Call Resumed",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          650,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "Supabase PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE bolna_calls SET status = 'completed', ended_at = NOW(), duration = '{{$json.body.duration}}' WHERE bolna_call_id = '{{$json.body.call_id}}' RETURNING *;",
          "options": {}
        },
        "id": "update-call-ended",
        "name": "Update Call Ended",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          650,
          500
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "Supabase PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "url": "https://n8n.srv1128060.hstgr.cloud/webhook/analyze-transcript",
          "method": "POST",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "call_id",
                "value": "={{$json.id}}"
              },
              {
                "name": "lead_id",
                "value": "={{$json.lead_id}}"
              }
            ]
          },
          "options": {}
        },
        "id": "trigger-analysis",
        "name": "Trigger Transcript Analysis",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          850,
          500
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO call_transcripts (call_id, turn_number, speaker, text, timestamp, confidence, metadata) VALUES ((SELECT id FROM bolna_calls WHERE bolna_call_id = '{{$json.body.call_id}}'), {{$json.body.turn_number}}, '{{$json.body.speaker}}', '{{$json.body.text}}', '{{$json.body.timestamp}}', {{$json.body.confidence}}, '{{$json.body.metadata}}') ON CONFLICT (call_id, turn_number) DO UPDATE SET text = EXCLUDED.text, timestamp = EXCLUDED.timestamp;",
          "options": {}
        },
        "id": "append-transcript-chunk",
        "name": "Append Transcript Chunk",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          650,
          600
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "Supabase PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.bolna.dev/v1/calls/{{$json.body.call_id}}/transcript",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "bolnaApi",
          "options": {}
        },
        "id": "fetch-full-transcript",
        "name": "Fetch Full Transcript",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          650,
          700
        ],
        "credentials": {
          "bolnaApi": {
            "id": "2",
            "name": "Bolna.ai API"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE bolna_calls SET full_transcript = '{{$json.transcript}}', transcript_fetched_at = NOW() WHERE bolna_call_id = '{{$json.body.call_id}}' RETURNING *;",
          "options": {}
        },
        "id": "store-full-transcript",
        "name": "Store Full Transcript",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [
          850,
          700
        ],
        "credentials": {
          "postgres": {
            "id": "1",
            "name": "Supabase PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "url": "https://n8n.srv1128060.hstgr.cloud/webhook/analyze-transcript",
          "method": "POST",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "call_id",
                "value": "={{$json.id}}"
              },
              {
                "name": "lead_id",
                "value": "={{$json.lead_id}}"
              }
            ]
          },
          "options": {}
        },
        "id": "trigger-analysis-2",
        "name": "Trigger Transcript Analysis",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          1050,
          700
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"success\": true, \"event_type\": \"{{$json.body.event_type}}\", \"processed_at\": \"{{new Date().toISOString()}}\"}",
          "options": {}
        },
        "id": "webhook-response",
        "name": "Webhook Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1250,
          400
        ]
      }
    ],
    "connections": {
      "Bolna Webhook": {
        "main": [
          [
            {
              "node": "Route by Event Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Event Type": {
        "main": [
          [
            {
              "node": "Update Call Initiated",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Phase Changed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Call Paused",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Call Resumed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Call Ended",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Append Transcript Chunk",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch Full Transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Call Ended": {
        "main": [
          [
            {
              "node": "Trigger Transcript Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Full Transcript": {
        "main": [
          [
            {
              "node": "Store Full Transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Full Transcript": {
        "main": [
          [
            {
              "node": "Trigger Transcript Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Transcript Analysis": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Call Initiated": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Phase Changed": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Call Paused": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Call Resumed": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append Transcript Chunk": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Apoorv Gupta",
    "name": "Version 98c94ec7",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-11T08:00:26.311Z",
        "id": 10,
        "workflowId": "Fhx2rnmEdJdOCdzb",
        "versionId": "98c94ec7-68f7-4974-8676-bb2f1637da58",
        "event": "activated",
        "userId": "76668ab6-522e-48c9-8c42-4dd83287036c"
      },
      {
        "createdAt": "2026-01-11T08:00:48.598Z",
        "id": 11,
        "workflowId": "Fhx2rnmEdJdOCdzb",
        "versionId": "98c94ec7-68f7-4974-8676-bb2f1637da58",
        "event": "activated",
        "userId": "76668ab6-522e-48c9-8c42-4dd83287036c"
      }
    ]
  }
}
