n8n-workflows/itarang_v4_1_bolna_CORRECT.json
{
    "name": "itarang_v4_1_bolna_webhook_receiver",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "bolna/itarang-v4",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Bolna Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "bolna-itarang-v4"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "call_initiated",
                            "leftValue": "={{ $json.body.event_type }}",
                            "rightValue": "call_initiated",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "phase_changed",
                            "leftValue": "={{ $json.body.event_type }}",
                            "rightValue": "phase_changed",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "call_paused",
                            "leftValue": "={{ $json.body.event_type }}",
                            "rightValue": "call_paused",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "call_resumed",
                            "leftValue": "={{ $json.body.event_type }}",
                            "rightValue": "call_resumed",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "call_ended",
                            "leftValue": "={{ $json.body.event_type }}",
                            "rightValue": "call_ended",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "transcript_chunk",
                            "leftValue": "={{ $json.body.event_type }}",
                            "rightValue": "transcript_chunk",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "id": "conversation_ended",
                            "leftValue": "={{ $json.body.event_type }}",
                            "rightValue": "conversation_ended",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "route-by-event-type",
            "name": "Route by Event Type",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE bolna_calls SET status = 'initiated', initiated_at = NOW(), updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
                "options": {}
            },
            "id": "update-call-initiated",
            "name": "Update Call Initiated",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                650,
                100
            ],
            "credentials": {
                "postgres": {
                    "id": "REPLACE_WITH_CREDENTIAL_ID",
                    "name": "Supabase Postgres - itarang v4"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE bolna_calls SET current_phase = '{{ $json.body.phase }}', updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
                "options": {}
            },
            "id": "update-phase-changed",
            "name": "Update Phase Changed",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                650,
                200
            ],
            "credentials": {
                "postgres": {
                    "id": "REPLACE_WITH_CREDENTIAL_ID",
                    "name": "Supabase Postgres - itarang v4"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE bolna_calls SET status = 'paused', updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
                "options": {}
            },
            "id": "update-call-paused",
            "name": "Update Call Paused",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                650,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "REPLACE_WITH_CREDENTIAL_ID",
                    "name": "Supabase Postgres - itarang v4"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE bolna_calls SET status = 'resumed', updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
                "options": {}
            },
            "id": "update-call-resumed",
            "name": "Update Call Resumed",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                650,
                400
            ],
            "credentials": {
                "postgres": {
                    "id": "REPLACE_WITH_CREDENTIAL_ID",
                    "name": "Supabase Postgres - itarang v4"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE bolna_calls SET status = 'completed', ended_at = NOW(), updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
                "options": {}
            },
            "id": "update-call-ended",
            "name": "Update Call Ended",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                650,
                500
            ],
            "credentials": {
                "postgres": {
                    "id": "REPLACE_WITH_CREDENTIAL_ID",
                    "name": "Supabase Postgres - itarang v4"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE bolna_calls SET full_transcript = COALESCE(full_transcript, '') || ' ' || '{{ $json.body.transcript }}', updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
                "options": {}
            },
            "id": "append-transcript-chunk",
            "name": "Append Transcript Chunk",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                650,
                600
            ],
            "credentials": {
                "postgres": {
                    "id": "REPLACE_WITH_CREDENTIAL_ID",
                    "name": "Supabase Postgres - itarang v4"
                }
            }
        },
        {
            "parameters": {
                "url": "=https://api.bolna.dev/v1/calls/{{ $json.body.call_id }}/transcript",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "bolnaApi",
                "options": {}
            },
            "id": "fetch-full-transcript",
            "name": "Fetch Full Transcript",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                700
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE bolna_calls SET full_transcript = '{{ $json.transcript }}', transcript_fetched_at = NOW(), updated_at = NOW() WHERE bolna_call_id = '{{ $json.body.call_id }}' RETURNING *;",
                "options": {}
            },
            "id": "store-full-transcript",
            "name": "Store Full Transcript",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                850,
                700
            ],
            "credentials": {
                "postgres": {
                    "id": "REPLACE_WITH_CREDENTIAL_ID",
                    "name": "Supabase Postgres - itarang v4"
                }
            }
        },
        {
            "parameters": {
                "url": "https://n8n.srv1128060.hstgr.cloud/webhook/analyze-transcript",
                "method": "POST",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"call_id\": \"{{ $json.id }}\",\n  \"lead_id\": \"{{ $json.lead_id }}\"\n}",
                "options": {}
            },
            "id": "trigger-analysis",
            "name": "Trigger Transcript Analysis",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1050,
                600
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"success\": true, \"event_type\": \"{{ $json.body.event_type }}\", \"processed_at\": \"{{ $now.toISO() }}\" }",
                "options": {}
            },
            "id": "webhook-response",
            "name": "Webhook Response",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1250,
                350
            ]
        }
    ],
    "connections": {
        "Bolna Webhook": {
            "main": [
                [
                    {
                        "node": "Route by Event Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route by Event Type": {
            "main": [
                [
                    {
                        "node": "Update Call Initiated",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update Phase Changed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update Call Paused",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update Call Resumed",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Update Call Ended",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Append Transcript Chunk",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Fetch Full Transcript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Call Initiated": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Phase Changed": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Call Paused": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Call Resumed": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Call Ended": {
            "main": [
                [
                    {
                        "node": "Trigger Transcript Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Append Transcript Chunk": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Full Transcript": {
            "main": [
                [
                    {
                        "node": "Store Full Transcript",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store Full Transcript": {
            "main": [
                [
                    {
                        "node": "Trigger Transcript Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Trigger Transcript Analysis": {
            "main": [
                [
                    {
                        "node": "Webhook Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "tags": []
}